@import "tailwindcss";

* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

@media (max-width:740px) {
     .active  p{
         @apply text-white;
         background-color: #2B3784;
    }
}

::-webkit-scrollbar {
    display: none;
}