@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fb;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5);
}

input, textarea {
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 3px rgba(255, 204, 0, 0.5);
}
